python-dotenv
pyyaml
tqdm
opencv-python
scipy
Pillow
#torchvision==0.11.2
torchvision
nbformat
nbconvert
jupyter-contrib-nbextensions
pytorch-lightning==1.9.0
ruamel.yaml
pyparsing
timm
matplotlib
scipy
scikit-learn
shapely
torch